[submodule "third_party/jadx-headless-mcp"]
	path = third_party/jadx-headless-mcp
	url = https://github.com/1013503897/jadx-headless-mcp.git
[submodule "third_party/binwalk"]
	path = third_party/binwalk
	url = https://github.com/ReFirmLabs/binwalk.git
[submodule "third_party/unblob"]
	path = third_party/unblob
	url = https://github.com/onekey-sec/unblob.git
[submodule "third_party/ghidra-nativeaot"]
	path = third_party/ghidra-nativeaot
	url = https://github.com/Washi1337/ghidra-nativeaot.git
[submodule "third_party/wakaru"]
	path = third_party/wakaru
	url = https://github.com/pionxzh/wakaru.git
